{% extends "base.html" %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('admin_dashboard') }}">
            <i class="bi bi-gear-fill"></i> SourceTECH Admin
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_dashboard') }}">
                        <i class="bi bi-speedometer2"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_vendors') }}">
                        <i class="bi bi-people"></i> Vendors
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_create_vendor') }}">
                        <i class="bi bi-plus-circle"></i> New Vendor
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('admin_logout') }}">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container py-4">
    {% block content %}{% endblock %}
</div>
{% endblock %}
